div#d360-newsletter.d360-onboard(style="display:none" role="dialog" aria-modal="true" aria-labelledby="d360-newsletter-title")
  div.d360-onboard__scrim(data-newsletter-dismiss="true")
  div.d360-onboard__card
    button.d360-onboard__close(type="button" aria-label="Close" data-newsletter-dismiss="true") ×
    h2#d360-newsletter-title.d360-onboard__title= _("subscribe.modal_title", lang)
    p.d360-onboard__intro= _("subscribe.modal_intro", lang)
    form#d360-subscribe-form.d360-subscribe-form
      fieldset.d360-subscribe-form__type
        legend= _("subscribe.type_label", lang)
        label
          input(type="radio" name="subscription_type" value="newsletter_lac" checked)
          span= _("subscribe.type_newsletter", lang)
        label
          input(type="radio" name="subscription_type" value="indicator_alerts")
          span= _("subscribe.type_alerts", lang)
      label.d360-subscribe-form__field(for="d360-subscribe-country")
        span= _("subscribe.country_label", lang)
        select#d360-subscribe-country(name="country_iso" disabled)
          option#d360-subscribe-country-all(value="" selected)= _("subscribe.country_all", lang)
          each iso in ['GTM', 'HND', 'ARG', 'ECU', 'MEX']
            option(value=iso)= _("chat.country." + iso, lang)
      label.d360-subscribe-form__field(for="d360-subscribe-email")
        span= _("subscribe.email_label", lang)
        input#d360-subscribe-email(type="email" name="email" required autocomplete="email" placeholder=_("subscribe.email_placeholder", lang))
      p.d360-subscribe-form__error#d360-subscribe-error(role="alert" hidden)
      button.d360-onboard__cta(type="submit")= _("subscribe.submit", lang)
    div#d360-subscribe-success.d360-subscribe-success(style="display:none")
      p#d360-subscribe-success-text
      p: a#d360-subscribe-preview-link(href="#")= _("subscribe.preview_link", lang)
      button.d360-onboard__skip(type="button" data-newsletter-dismiss="true")= _("subscribe.close", lang)
