- var onboardLang = (lang === "en") ? "en" : "es"
div#d360-onboard.d360-onboard(style="display:none" role="dialog" aria-modal="true" aria-labelledby="d360-onboard-title")
  div.d360-onboard__scrim(data-onboard-dismiss="true")
  div.d360-onboard__card
    button.d360-onboard__close(type="button" aria-label="Close" data-onboard-dismiss="true") ×
    div.d360-onboard__body
      h2#d360-onboard-title.d360-onboard__title= _("onboard.title", onboardLang)
      p.d360-onboard__intro= _("onboard.intro", onboardLang)
      ul.d360-onboard__list
        li= _("onboard.feature_1", onboardLang)
        li= _("onboard.feature_2", onboardLang)
        li= _("onboard.feature_3", onboardLang)
        li= _("onboard.feature_4", onboardLang)
        li= _("onboard.feature_5", onboardLang)
      section.d360-onboard__countries#d360-onboard-countries
        h3.d360-onboard__section-title= _("onboard.choose_country", onboardLang)
        ul.d360-onboard__country-grid
          each link in countryLinks
            - var cname = _("chat.country." + link.iso, onboardLang)
            li
              a.d360-onboard__country-card(
                href="/" + link.slug
                data-country-iso=link.iso
                class=(link.iso === selectedCountryIso ? "is-active" : "")
              )
                span.d360-onboard__country-flag(aria-hidden="true")= countryFlag(link.iso)
                span.d360-onboard__country-name= cname
      p.d360-onboard__lang-switch
        button.d360-onboard__lang-link(type="button" data-onboard-switch-lang)= _("onboard.switch_lang", onboardLang)
    div.d360-onboard__footer
      button.d360-onboard__skip(type="button" data-onboard-dismiss="true")= _("onboard.skip", onboardLang)
