header.wb-header
  div.wb-header__inner
    a.d360-lockup(href=monitorHomeUrl aria-label=_("site_name", lang) title=_("site_name", lang))
      img.d360-lockup__mark(src=staticAsset('assets/d360-mark.svg') alt="" width="40" height="40")
      div.d360-lockup__text
        span.d360-lockup__product Data 360
        span.d360-lockup__name= _("site_brand_suffix", lang)
        span.d360-lockup__sub= _("lockup.product_sub", lang)
    div.wb-header__actions
      button.d360-subscribe(type="button" id="d360-subscribe-btn" disabled aria-disabled="true" title=_("ui.coming_soon", lang) data-tip=_("ui.coming_soon", lang))
        span= _("ui.subscribe", lang)
      div.wb-header__locale(role="group" aria-label=_("nav.locale_group", lang))
        button.d360-country-select(type="button" data-open-onboarding="countries" aria-haspopup="dialog" aria-expanded="false" aria-label=_("nav.editions", lang))
          if selectedCountryIso
            span.d360-country__flag(aria-hidden="true")= countryFlag(selectedCountryIso)
            span.d360-country__name= _("chat.country." + selectedCountryIso, lang)
          else
            span.d360-country__name= _("nav.editions", lang)
          span.d360-country-select__caret(aria-hidden="true") ▾
        div.d360-lang(role="group" aria-label="Language")
          button.d360-lang__btn(class=(lang === "es" ? "is-active" : "") data-lang="es" type="button") ES
          button.d360-lang__btn(class=(lang === "en" ? "is-active" : "") data-lang="en" type="button") EN
