extends layout
include mixins

block content
  main.d360-page.d360-page--picker.d360-page--band
    div.d360-shell
      section.d360-picker
        h1.d360-picker__title= _("picker.title", lang)
        p.d360-picker__lead= _("tagline", lang)
        ul.d360-picker__grid
          each link in countryLinks
            - var cname = _("chat.country." + link.iso, lang)
            li
              a.d360-picker__card(href="/" + link.slug)
                span.d360-picker__flag(aria-hidden="true")= countryFlag(link.iso)
                span.d360-picker__name= cname

      if recentIndicators && recentIndicators.length
        section.d360-picker__recent
          h2.d360-picker__section-title= _("picker.recent_indicators", lang)
          ul.d360-picker__indicator-list
            each ind in recentIndicators
              li
                a.d360-picker__indicator(href="/indicador/" + encodeURIComponent(ind.idno))
                  +indicatorRef(ind, lang, { dates: false })
