doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle || title || _("site_name", lang)
    link(rel="icon" href=staticAsset('assets/d360-mark-favicon.svg') type="image/svg+xml")
    if metaDescription
      meta(name="description" content=metaDescription)
    else
      meta(name="description" content=_("tagline", lang))
    block header
    link(rel="stylesheet" href=staticAsset('css/layout.css'))
  body
    div.d360-app
      include partials/wb-header
      include partials/wb-nav
      block headerExtras
      block content
      include partials/wb-footer
      if includeFloatingChat !== false
        include partials/floating-chat
    include partials/onboarding
    include partials/newsletter-modal
    script.
      window.D360_LANG = !{JSON.stringify(lang)};
      window.D360_LANG_MODE = !{JSON.stringify(lang)};
      window.D360_STRINGS = { es: !{JSON.stringify(stringsEs)}, en: !{JSON.stringify(stringsEn)} };
      window.staticVersion = !{JSON.stringify(String(staticVersion))};
    script(src=staticAsset('js/local-datetime.js'))
    script(src=staticAsset('js/country-flag.js') defer)
    script(src=staticAsset('js/data360-urls.js') defer)
    script(src=staticAsset('js/onboarding.js') defer)
    script(src=staticAsset('js/lang-toggle.js') defer)
    script(src=staticAsset('js/newsletter-modal.js') defer)
    script(src=staticAsset('js/dumbbell-tabs.js') defer)
    link(rel="preload" href=staticAsset('css/main.css') as="style" onload="this.onload=null;this.rel='stylesheet'")
    link(rel="preload" href=staticAsset('css/wb-chat-fab.css') as="style" onload="this.onload=null;this.rel='stylesheet'")
    link(rel="preload" href=staticAsset('css/wb-chat-embed.css') as="style" onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link(rel="stylesheet" href=staticAsset('css/main.css'))
      link(rel="stylesheet" href=staticAsset('css/wb-chat-fab.css'))
      link(rel="stylesheet" href=staticAsset('css/wb-chat-embed.css'))
    block scripts
      if includeFloatingChat !== false
        script(src=staticAsset('vendor/marked.min.js') defer)
        script(src=staticAsset('js/markdown.js') defer)
        script(src=staticAsset('js/pcn-claims.js') defer)
        script(src=staticAsset('js/chat-turn-ui.js') defer)
        script(src=staticAsset('js/alert-chat.js') defer)
      block pageScripts
      if includeFloatingChat !== false
        script(src=staticAsset('js/floating-chat.js') defer)
